@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

:root {
	margin: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100%;
	@apply bg-gradient-to-br from-slate-900  to-slate-800;
  background-size: cover;
  background-repeat: no-repeat;

  cursor:url('../public/cursor.png'), auto !important;
}


#hoverAnimation {
  display: inline-block;
  position: relative;
}

.tab-menu > button {
  cursor: pointer;
  padding: 8px 16px;
  border: 0;
  background: none;
  opacity: 0.7;
}

.tab-menu > button:hover {
  color: white;
  opacity: 1;
}

.tab-menu {
  border-bottom: 1px solid grey;
}

.tab-menu > button.focus {
  opacity: 1;
  color: white
}


.tab-content {
  display: none;
}

.tab-content.selected {
  display: block;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 0 solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  border-radius: .4rem;
}

#activityImage {
  max-width: 100px;
}

#hoverAnimation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: center;
  transition: transform 0.40s ease-out;
}

#hoverAnimation:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center
}


